PORT=3000
BASE_URL=http://localhost:3000
DATABASE_URL=postgresql://frame_ai_user:1cm7FxRFBKbIc7Sb8YckTbmTDGD38QiH@dpg-d6u79d7kijhs73fi97eg-a.virginia-postgres.render.com/frame_ai
OPENAI_API_KEY=sua_chave_nova
MAX_UPLOAD_MB=80

CRM_USER=adminframe
CRM_PASSWORD=frame@2605
CRM_SESSION_SECRET=dfregthryejutrkitloutiyujfhgdfsgryjtukyikjhnfgbdfvdbgnhjmhk